@model IEnumerable<DbPost>

@{
    ViewBag.Title = "All Posts";
}

<style>
    /* Start state: The ↑ icon must disappear. */
    .collapse-toggle .bi-arrow-up-square {
        display: none;
    }

    /* Open state: Show ↑ icon (close), hide ↓ icon (open). */
    .collapse-toggle[aria-expanded="true"] .bi-arrow-down-square {
        display: none;
    }
    .collapse-toggle[aria-expanded="true"] .bi-arrow-up-square {
        display: inline;
    }
</style>

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Content)</th>
        <th>@Html.DisplayNameFor(model => model.Author)</th>
        <th>@Html.DisplayNameFor(model => model.Created)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr id="post@(item.Id)">
            <td>@Html.DisplayFor(model => item.Title)</td>
            <td>@Html.DisplayFor(model => item.Content)</td>
            <td>@Html.DisplayFor(model => item.Author)</td>
            <td>@Html.DisplayFor(model => item.Created)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <button class="btn btn-secondary btn-sm collapse-toggle"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#post-details@(item.Id)"
                        aria-expanded="false">
                    <i class="bi bi-arrow-down-square"></i>
                    <i class="bi bi-arrow-up-square"></i>
                    Details
                </button>
                <a class="btn btn-danger btn-sm"
                   data-bs-toggle="modal" data-bs-target="#post-modal"
                   hx-get="@Url.Action("Delete", new { item.Id })"
                   hx-indicator="#post-modal .modal-body, #post-modal-footer-outlet">
                    <i class="bi bi-trash"></i> Delete
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="bg-body-tertiary p-0 border-0">
                <div id="post-details@(item.Id)"
                     class="collapse m-2"
                     hx-get="@Url.Action("Details", new { item.Id })"
                     hx-trigger="shown.bs.collapse once"
                     hx-swap="innerHTML">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<style>
    /* Collapse spinner completely if no request is running at the moment. */
    #post-modal .htmx-indicator { display: none; }

    /* Show spinner if no request is running at the moment. */

    #post-modal .htmx-request > .htmx-indicator { display: block; }

    /* Hide everything but the spinner if a request is running at the moment. */

    #post-modal .htmx-request > *:not(.htmx-indicator) { display: none; }
</style>

<!-- Multipurpose post modal. -->
<div class="modal fade" id="post-modal" tabindex="-1" aria-labelledby="post-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="post-modal-label">Post Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="htmx-indicator text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="post-modal-body-outlet"></div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> Cancel</button>
                <div id="post-modal-footer-outlet"></div>
            </div>
        </div>
    </div>
</div>